<div class="card">
  <div class="card-header">
    Sign Up!
  </div>

  <div class="card-body">
    <form novalidate
          (ngSubmit)="save()"
          [formGroup]="customerForm">
      <app-form-control-wrapper [label]="'First name'">
        <app-text-input
          [controlName]="'firstName'"
          [parent]="customerForm">
        </app-text-input>
    </app-form-control-wrapper>
      <app-form-control-wrapper [label]="'Business or Private'">
            <app-radio-button
            [parent]="customerForm"
            [options]="yesNoOptions"
            [controlName]="'notification'"
            (select)="setNotificationNew($event)">
            </app-radio-button>
      </app-form-control-wrapper>
      <app-form-control-wrapper [label]="'Type of business'">
      <app-checkbox
        [parent]="customerForm"
        [options]="whatKindOfBusinessOptions"
        [controlName]="'whatKindOfBusiness'"
        (select)="setBusinessType($event)">
      </app-checkbox>
    </app-form-control-wrapper>
    <button (click)="addDynamicField()">Add dynamic field</button>
    <div formArrayName="dynamicField" *ngFor="let form of dynamicField.controls; let i = index">
      <div [formGroupName]="i">
        <app-text-input
        [controlName]="'modificationValue'"
        [parent]="form">
      </app-text-input>
      </div>
    </div>
    <app-form-control-wrapper [label]="'Type of business'">
      <button class="btn btn-primary mr-3"
      type="submit"
      style="width:80px"
      [title]="customerForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
      [disabled]="!customerForm.valid">
      Save
    </button>
    </app-form-control-wrapper>
    </form>
  </div>
</div>
<br>Dirty: {{ customerForm.dirty }}
<br>Touched: {{ customerForm.touched }}
<br>Valid: {{ customerForm.valid }}
<br>Value: {{ customerForm.value | json }}
<br>&nbsp;